@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --branco-principal: #ffffff;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal:"Inter", sans-serif;
    --botao-azul-efeito: #3285eb;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal {
    background-image: url(./img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

    

.container {
    height: 100vh;
    grid-template-columns: 50% 50%;
    display: grid;
    color: var(--cinza-secundario);
}
    
.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1rem;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;

}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: black;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;

}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 3em;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 40px;
    color: var(--branco-principal);
}

.lista__item {
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 6rem;
    gap: 1rem;
    font-family: var(--fonte-principal);
}

.rodape__logo {
    margin: 9rem 0 0 3rem;
}

.rodape__lista {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    margin-top: 1rem;
}

.lista__link a {
    color: var(--branco-principal);
    font-size: 1rem;
    gap: 1rem;
}

.lista__link a:hover {
    color: var(--botao-azul);
}

.lista__link :active {
    color: var(--botao-azul-efeito);
}

.rodape__texto {
    font-size: 0.8rem;
    color: var(--cinza-secundario);
    gap: 1rem; 
}